<h4>Welcome, <%= @merchant.user_name %></h4>

<h5>MAIN MENU:</h5>

<li><%= link_to "Create a new Category", new_category_path, method: :get %></li>
</br>

<li><%= link_to "Create a new Product", new_merchant_product_path(@current_merchant), method: :get %> </li>

<h3>These are my products:</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit</th>
    <th>Retire</th>
  </tr>

  <% @merchant.products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
    <td><%= link_to "Edit this Product", edit_merchant_product_path(@current_merchant, product.id) %></td>
    <td>Retire button</td>
  </tr>
  <% end %>
</table>
