<h4>Welcome, <%= @merchant.user_name %></h4>

<h6><%= link_to "Create a new Category", new_category_path, method: :get %></li>
</h6>

<h6><%= link_to "Create a new Product", new_merchant_product_path(@current_merchant), method: :get %> </h6>

<h6>My products:</h6>
<table>
  <tr>
    <th>Product ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit</th>
    <th>Retire</th>
  </tr>

  <% @merchant.products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= link_to "#{product.name}", product_path(product.id) %></td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
    <td><%= link_to "Edit this Product", edit_merchant_product_path(@current_merchant, product.id) %></td>
    <td><% if product.active %>
    <%= form_for [@merchant, product], method: :patch do |f| %>
      <%= f.hidden_field :active, :value => false %>
      <%= puts "THIS IS THE ACTIVENESS #{product.active}!!!" %>
      <%= f.submit "Retire Product" %>
      <% end %>
    <% else %>
    <%= form_for [@merchant, product], method: :patch do |f| %>
      <%= f.hidden_field :active, :value => true %>
      <%= f.submit "Reactivate Product" %>
    <% end %>
  <% end %></td>
  </tr>
  <% end %>
</table>

<h6>My Orders: </h6>
<table>
  <tr>
    <th>ID</th>
    <th>Order ID</th>
    <th>Product ID</th>
    <th>Quantity</th>
    <th>Created At</th>
  </tr>

  <% @merchant.get_merchant_orders.each do |o| %>
  <tr>
    <td><%= o.id %></td>
    <td><%= o.order_id %></td>
    <td><%= o.product_id %></td>
    <td><%= o.quantity %></td>
    <td><%= o.created_at %></td>
  </tr>
  <% end %>
</table>
