<h3>MAIN MENU:</h3>

<h4>Welcome, <%= @merchant.user_name %></h4>
<h5>THIS IS WHAT A MERCHANT CAN DO:</h5>

<li><%= link_to "Create a new Category", new_category_path, method: :get %></li>
</br>

<li><%= link_to "Create a new Product", new_merchant_product_path(@current_merchant), method: :get %> </li>

<h3>These are my products:</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Edit</th>
    <th>Retire</th>
  </tr>

  <% @merchant.products.each do |product| %>
  <tr>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td><%= link_to "Edit this Product", edit_merchant_product_path(@current_merchant, product.id) %></td>
  <td>Retire button</td>
  </tr>

</table>

<li>Assign my products to any number of categories</li>

<li>Retire a product from being sold, which hides it from browsing</li>

<li>View an account page showing my order fulfillment</li>

<ul>On the order fulfillment page:
<li>Total Revenue</li>
<li>Total Revenue by status</li>
<li>Total number of orders by status</li>
<li>Filter orders displayed by status</li>
<li>Link to each individual order</li>
</ul>

<ul>A list of orders including at least one of my products:
<li>Each order item sold by me with a quantity and line-item subtotal
<li>A link to the item description page
<li>DateTime the order was placed
<li>Link to transition the order item to marked as shipped
<li>The current status of the order ("pending", "paid", "complete", "cancelled")
</ul>

<ul>View an individual order to see the user's: Name; Email address; Mailing address; Last four digits of their credit card; Credit card expiration date
</ul>
