<section>
  <ul>
      <% order_items.each do |item| %>
      <li> <%= link_to "Ordered #{item.product.name}", order_item_path(item) %></li>
      <li><%= render partial: "order_details", locals: {order_items: [item] } %></li>
      <li> Underlying Order Status: <%= item.order.order_status %></li>
      <%# will use updated at instead of time_placed so that orders that have not been paid for will work - they are equal in the case of payments anyway.  Need to think about what this field will mean for completed orders?  %>
      <li>Time Placed: <%= item.order.updated_at %></li>
      <% if item.shipped != true %>
      <li class= "link"><%= link_to 'Mark Shipped', ship_order_item_path(item), method: :patch %></li>
      <% else %>
      <li>Order Shipped</li>
      <% end %>
      <% end %>
    </ul>
  </section>
