<p id="notice"><%= notice %></p>

<h3>Welcome, <%= @merchant.user_name %>!</h3>

<h3>Browse <%= @merchant.user_name %>'s Products</h3>

<%= render partial: '/application/products_index' %>

<%= link_to 'Back', merchants_path %>
