<%= form_for(@merchant_product, url: merchant_products_path(@current_merchant)) do |f| %>

<ul>

<li class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</li>

<li class="field">
<!-- <label for=""></label> -->
  <%# :categories %>
</li>

<li class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</li>

<li class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</li>

<li class="actions">
  <%= f.submit %>
</li>
<% end %>
</ul>
