<ul>
<p>
  <strong>Image:</strong>
   <li class="image"><%= @product.image_stored? ? image_tag(@product.image.thumb('300x260').url) : "" %></li>
</p>
  <li><h3><%= @product.name  %></h3></li>
</ul>

<ul class="product-price-des">
  <li> Price: $<%= @product.price %></li>
  <li>In Stock: <%= @product.quantity %></li>
  <li class= "link"><%= link_to 'Purchase', orders_path, method: :post %></li>
</ul>

<% if @product.merchant_id == nil || @product.merchant_id != session[:merchant_id] %>
  <ul>
    <%= form_for [@product, @review] do |f| %>
    <li class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </li>
    <li class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </li>
    <li class="actions">
      <%= f.submit "Submit Review" %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h6>You can't review your own product.</h6>
<% end %>

<article class="review">
  <h3>Reviews</h3>
  <ul>
    <%  @reviews.each do |f| %>
    <li>Rating:<%= f.rating %></li>
    <li>Description: <%= f.description %></li>
    <% end %>
  </ul>
</article>

<%= link_to 'Back', products_path %>
