<ul>
  <p>
    <% if @product.image != nil %>
    <strong>Image:</strong>
    <li class="image"><%= @product.image_stored? ? image_tag(@product.image.thumb('300x260').url) : "" %></li>
    <% else %>
    <li class="image"><%= image_tag "no_image.png", size: "300x260", alt: "Robots" %></li>
    <% end %>
  </p>
  <li><h3><%= @product.name %></h3></li>
</ul>

<ul class="product-price-des">
  <li> Price: $<%= @product.price %></li>
  <li>In Stock: <%= @product.quantity %></li>
  <% if @product.description != nil %>
  <li>Description</li>
  <li><%= @product.description %></li>
  <%end %>
  <li class= "link"><%= link_to 'Purchase', orders_path, method: :post %></li>
</ul>

<% if @product.merchant_id == nil || @product.merchant_id != session[:merchant_id] %>
<ul>
  <%= form_for [@product, @review] do |f| %>
  <li class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating,  in: 1..5 %>
  </li>
  <li class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </li>
  <li class="actions">
    <%= f.submit "Submit Review" %>
  </li>
  <% end %>
</ul>
<% else %>
<h6>You can't review your own product.</h6>
<% end %>

<article class="review">
  <h4>Customer Reviews</h4>
  <ul>
    <%  @reviews.each do |f| %>
    <% f.rating.times do |f| %>
    <%= image_tag "robot.png", size: "18x18", alt: "Robots" %>
    <% end %>
    <% if f.description != nil %>
    <li><%= f.description %></li>
    <% end %>
    <% end %>
  </ul>
</article>

<%= link_to 'Back', products_path %>
